**/target
**/classes
**/.idea
**/*.iml
**/*.log
grouper/logs/
grouper/build.log
grouper/conf/dist/
grouper/ddlScripts/
grouper/dist/
grouper/hsql/

grouper-misc/grouperClient/conf/grouper.client.properties
grouper-misc/grouperClient/conf/grouper.client.usage.txt
grouper-misc/grouperClient/dist/grouperClient.institution-2.2.0.tar.gz
grouper-misc/grouperClient/dist/grouperClient.jar
grouper-misc/grouperClient/misc/README.txt

subject/dist/
subject/doc/
**/build/dist/**/*.jar
grouper-ws/grouper-ws/build/*
grouper-ws/grouper-ws/webapp/WEB-INF/lib/*
grouper-misc/grouperActivemq/dist2/
/grouper.api-2.3.0
