build
conf/ehcache.xml
conf/grouper.cache.properties
conf/grouper.client.properties
conf/log4j.properties
conf/spy.properties
conf/penn*
conf/grouperText/grouper.text.en.us.properties
conf/grouperText/grouper.text.fr.fr.properties
ddlScripts
dist
spy.log
temp
test.log
/grouperHSQL.lck
/grouperHSQL.properties
/grouperHSQL.script
/grouperImportRecord*
/.classpath
/.project
/binary/
/grouperClientFailoverState.bin
src/grouper/SampleGrouperMain.java
src/grouper/Test*
src/grouper/Covid*.java
felix-cache
/confLocal/
/trace.zip
